<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-head">
    <div class="container-storename">
        <p class="store-name"><b>SOCIALAPP</b></p>
    </div>

    <div class="container-data">

      <p class="nav1" routerLink="/registro" routerLinkActive="active"><b>REGISTRARSE</b></p>
      <p class="nav1" routerLink="/mostrar" routerLinkActive="active"><b>USUARIOS</b></p>
      <p class="nav1" routerLink="/admin" routerLinkActive="active"><b>ADMINISTRADOR</b></p>



    </div>
  </div>

</body>
</html>

