body{
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  margin: 0px;
}

.container-head{
  display: flex;
  flex-direction: row;
  background-image: url(/assets/19Nx.gif);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px 20px 0px 0px;

}


.container-storename{
display: flex;
  flex: 70%;
align-self: center;
}
.container-data{
display: flex;
color: white;
align-self: center;
}

.nav1{
  margin: 26px;
  cursor: pointer;
}
.avatar_perfil{
width: 30px;
align-self: center;
padding-right: 15px;
}


.input{
border-radius: 25px;
}

.username {
font-size: 24px;
color: white;
}
.logout {
font-size: 21px;
margin-left: 30px;

/* width: 62px; */
padding: 4px;
border-radius: 8px;
background: #e0e0e0;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logout:hover{
color: red;
transition: 0,5s;
}
a{
color: rgb(0, 0, 0);
text-decoration: none;
}
.container-data{
flex: 30%;
align-self: center;
}
.store-name {
color: white;
align-self: center;
margin-right: 20px;
margin-left: 65px;
text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 25px;
}
.logo{
width: 10%;
}


.login_icons{
  width: 13px;
}




.title_section{
/* margin-left: 30px; */
font-size: 50px;
}

@media screen and (max-width: 500px) {

.container-head{

  align-items: center;
}
.container-data {
  margin-right: 4%;
  margin-bottom: 7px;
}
.username{
display: none;
}
.logout {
  font-size: 16px;
  /* margin-left: 30px; */
  /* width: 62px; */
  padding: 4px;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.avatar_perfil{
  display: none;
}
.logo {
width: 26%;
}

.store-name {
color: white;
margin-right: 20px;
margin-left: 30px;
font-size: 25px;
}


}

/* NAV */
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.navline{
align-self: center;
padding-left: 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
