
html { 
    height:100%; 

 background-color: rgb(255, 255, 255);
}
body{
    margin: 0px;
    
    font-family: Roboto, "Segoe UI", Tahoma, sans-serif;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding: 30px;
    background-color: white;
    border: 20px solid grey;
    border-radius: 35px;
    margin-top: 6%;
}

input{
    align-self: center;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 15px;
    border-radius: 35px;
border: 5px solid gray;
width: 100% !important;
}

H2{
    color: grey;
}
.h{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: grey;
}